/* date color: #3498db
	h2 color: #2c3e50 
	font: source sans pro */

body {
	border: 20px solid #bdc3c7;
	padding: 20px;
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
	font-family: 'Source Sans Pro', sans-serif;
	
}

h2 {
	color: #2c3e50;
	font-size: 2.0rem;
}

.highlt {
	border-left:  5px solid #bdc3c7;
	padding: 5px;
}

.sec {
	margin-bottom: 20px;
	
}

#hrid {
	 border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.date{
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	/*font-weight: 800;*/
}